<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.pandachannels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <application
        android:name=".fragmentlive.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ipnda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />





        <activity
            android:name=".fragmentobserve.activity.VideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".fragmentobserve.activity.centeracticity.CentreActivity" />
        <activity android:name=".fragmentobserve.activity.centeracticity.LogInActivity" />
        <activity android:name=".fragmentobserve.activity.centeracticity.HistoryActivity" />
        <activity android:name=".fragmentobserve.activity.centeracticity.CollectActivity" />
        <activity android:name=".fragmentobserve.activity.centeracticity.SetActivity" />
        <activity android:name=".fragmentobserve.activity.centeracticity.setactivity.SetOneActivity" />
        <activity android:name=".fragmenthome.Original" />
        <activity android:name=".fragmenthome.HomeWebView" />
        <activity android:name=".fragmentobserve.activity.ItemActivity" />
        <activity
            android:name=".fragmenthome.Video"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".fragmentculture.activity.LiActivity" />
        <activity android:name=".fragmentculture.activity.CuiActivity"/>


        <activity
            android:name=".fragmentculture.activity.WenActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c3496ae88bad46c600000f">

        </meta-data>

        <activity
            android:name=".fragmentlive.LiveVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".fragmenthome.Homelive"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".fragmenthome.Video"
            android:screenOrientation="landscape" />
        <activity android:name=".fragmenthome.Homevoid"
            android:screenOrientation="landscape"
            >

        </activity>
    </application>

</manifest>